<div>

<table class="striped highlight centered responsive-table">
  <tr>
    <th>Client</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Other 1</th>
    <th>Other 2</th>
    <th>Other 3</th>
    <th>Other 4</th>
  </tr>

  <br>
  <% c = User.find_by_id(params[:id]).clients %>
  <% c.each.with_index(1) do |client, i| %>
 <tr>

  <td><%= i %>. <%= link_to client.first_name.concat(" ",client.last_name).titleize, user_path(client.id) %></td>
  <td><%= call_to client.phone %></td>
  <td><%= mail_to client.email %></td>
  <% end %>

</table>
</div>