<h1>Clients#index</h1>
<p>Find me in app/views/clients/index.html.erb</p>
<br>

<h3>All Clients</h3>
<table>
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Job Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

<% @clients.each.with_index(1) do |c, i| %>
<tr>
  <td><%= i %>. <%= link_to c.first_name.concat(" ",c.last_name), edit_client_path(c.id) %></a></td>
  <td> <%= link_to c.job_id, edit_job_path(c.id) %> </td>
<% end %>
</tr>
  </tbody>
</table>

<%# binding.pry %>

